@import "tailwindcss";

/*@keyframes float {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-20px); }
  }
  @keyframes float-delay {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(20px); }
  }
  .animate-float { animation: float 8s ease-in-out infinite; }
  .animate-float-delay { animation: float-delay 10s ease-in-out infinite; }*/

  body {
    font-family: var(--font-inter);
  }
  
  code, pre {
    font-family: var(--font-roboto-mono);
  }

  .about-dropdown::after {
    content: '▼';
    font-size: 0.6em;
    margin-left: 4px;
  }